/* CSS Document */
.nScroll { *overflow: auto; }

.nScrollable .csb, .nScrollable .csb .bar, .nScrollable .csb .anchor, .nScroll .csb, .nScroll .csb .bar, .nScroll .csb .anchor { border-radius: 6px; }

.nScrollable, .nScroll { *overflow: auto; /** UI Part */ /**Additional */ }

.nScrollable .matchParent, .nScroll .matchParent { height: 100%; width: 100%; }

.nScrollable .cover, .nScroll .cover { overflow: hidden; position: relative; height: 100%; }

.nScrollable .cover .content, .nScroll .cover .content { overflow: scroll; padding: 0 0 17px 0; margin-right: -17px; margin-bottom: -17px; width: auto; position: relative; /*IE7 scroll overlap fix*/ }

.nScrollable .csb, .nScrollable .csb .bar, .nScrollable .csb .anchor, .nScroll .csb, .nScroll .csb .bar, .nScroll .csb .anchor { z-index: 1; position: absolute; }

.nScrollable .csb, .nScroll .csb { display: none; }

.nScrollable .csb.vertical, .nScroll .csb.vertical { right: 10px; top: 10px; bottom: 18px; height: auto; width: 8px; }

.nScrollable .csb.horizontal, .nScroll .csb.horizontal { bottom: 10px; left: 10px; right: 18px; width: auto; height: 8px; display: none !important; }

.nScrollable .csb .anchor.head, .nScroll .csb .anchor.head { top: 0; left: 0; }

.nScrollable .csb .anchor.foot, .nScroll .csb .anchor.foot { bottom: 0; right: 0; }

.nScrollable .csb.vertical .bar, .nScroll .csb.vertical .bar { width: 100%; }

.nScrollable .csb.horizontal .bar, .nScroll .csb.horizontal .bar { height: 100%; }

.nScrollable .csb, .nScroll .csb { background: #E2E2E2; }

.nScrollable .csb .bar, .nScroll .csb .bar { background: #B3B3B3; }

.nScrollable .csb .anchor, .nScroll .csb .anchor { background: blue; }

.nScrollable .csb.vertical .anchor, .nScroll .csb.vertical .anchor { height: 0px; }

.nScrollable .csb.horizontal .anchor, .nScroll .csb.horizontal .anchor { width: 0px; }

.nScrollable .csb:hover, .nScrollable .csb.hover, .nScroll .csb:hover, .nScroll .csb.hover { background: #D9D9D9; }

.nScrollable .csb:hover .bar, .nScrollable .csb.hover .bar, .nScroll .csb:hover .bar, .nScroll .csb.hover .bar { background: #A0A0A0; }
